<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>

<target name="axis2-client" sequenceNumber="23">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="akka.feature.group" version="2.3.0"/>
<unit id="akka.source.feature.group" version="2.3.0"/>
<unit id="dining-hakker.feature.group" version="2.3.0"/>
<unit id="leveldb.feature.group" version="0.5.0"/>
<unit id="leveldb.source.feature.group" version="0.5.0"/>
<unit id="netty.feature.group" version="3.8.0.Final"/>
<unit id="netty.source.feature.group" version="3.8.0.Final"/>
<unit id="osgi-compendium.feature.group" version="4.3.1"/>
<unit id="osgi-compendium.source.feature.group" version="4.3.1"/>
<unit id="protobuf.feature.group" version="2.5.0"/>
<unit id="protobuf.source.feature.group" version="2.5.0"/>
<unit id="scala.feature.group" version="2.10.3"/>
<unit id="scala.source.feature.group" version="2.10.3"/>
<unit id="typesafe-config.feature.group" version="1.2.0"/>
<unit id="typesafe-config.source.feature.group" version="1.2.0"/>
<unit id="uncommons-maths.feature.group" version="1.2.2"/>
<repository location="http://p2.martenscs.net/akka/2.3.0"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.equinox.osgi.runtime.feature.group" version="0.0.1.201403181610"/>
<repository location="http://p2.martenscs.net/equinox-runtime"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.gyrex.features.dependencies.admin.feature.group" version="1.2.0.v20130701-1318"/>
<unit id="org.eclipse.gyrex.features.dependencies.admin.source.feature.group" version="1.2.0.v20130701-1318"/>
<unit id="org.eclipse.gyrex.features.master.feature.group" version="1.2.0.v20130816-1838"/>
<unit id="org.eclipse.gyrex.features.dependencies.commons.feature.group" version="1.2.0.v20130701-1318"/>
<unit id="org.eclipse.gyrex.features.dependencies.commons.source.feature.group" version="1.2.0.v20130701-1318"/>
<unit id="org.eclipse.equinox.executable.feature.group" version="3.6.0.v20130521-0416"/>
<unit id="org.eclipse.gyrex.features.dependencies.eclipselink.feature.group" version="1.2.0.v20130701-1318"/>
<unit id="org.eclipse.gyrex.features.dependencies.eclipselink.source.feature.group" version="1.2.0.v20130701-1318"/>
<unit id="org.eclipse.gyrex.features.admin.feature.group" version="1.2.0.v20130719-1202"/>
<unit id="org.eclipse.gyrex.features.admin.source.feature.group" version="1.2.0.v20130719-1202"/>
<unit id="org.eclipse.gyrex.features.http.feature.group" version="1.2.0.v20130701-1318"/>
<unit id="org.eclipse.gyrex.features.http.source.feature.group" version="1.2.0.v20130701-1318"/>
<unit id="org.eclipse.gyrex.features.addons.jersey.jaxrs.feature.group" version="1.0.0.v20130621-0455"/>
<unit id="org.eclipse.gyrex.features.addons.jersey.jaxrs.source.feature.group" version="1.0.0.v20130621-0455"/>
<unit id="org.eclipse.gyrex.features.kernel.feature.group" version="1.2.1.v20130703-2356"/>
<unit id="org.eclipse.gyrex.features.kernel.source.feature.group" version="1.2.1.v20130703-2356"/>
<unit id="org.eclipse.gyrex.features.modelandservices.feature.group" version="1.2.0.v20130801-1150"/>
<unit id="org.eclipse.gyrex.features.modelandservices.source.feature.group" version="1.2.0.v20130801-1150"/>
<unit id="org.eclipse.gyrex.features.addons.mongodb.feature.group" version="1.0.0.v20120524-0613"/>
<unit id="org.eclipse.gyrex.features.addons.mongodb.source.feature.group" version="1.0.0.v20120524-0613"/>
<unit id="org.eclipse.gyrex.features.processing.feature.group" version="1.2.0.v20130701-1318"/>
<unit id="org.eclipse.gyrex.features.processing.source.feature.group" version="1.2.0.v20130701-1318"/>
<unit id="org.eclipse.gyrex.features.server.feature.group" version="1.2.0.v20130701-1318"/>
<unit id="org.eclipse.gyrex.products.server" version="1.2.1.v20130822-1334"/>
<unit id="org.eclipse.gyrex.products.server.root.feature.feature.group" version="1.2.0.201306250449"/>
<unit id="org.eclipse.gyrex.features.server.source.feature.group" version="1.2.0.v20130701-1318"/>
<unit id="org.eclipse.gyrex.features.sdk.withoutdeps.feature.group" version="1.2.0.v20130801-1150"/>
<unit id="org.eclipse.gyrex.features.sdk.feature.group" version="1.2.0.v20130816-1838"/>
<unit id="org.eclipse.gyrex.features.tests.feature.group" version="1.2.0.v20130801-0705"/>
<unit id="org.eclipse.gyrex.features.tests.source.feature.group" version="1.2.0.v20130801-0705"/>
<unit id="org.eclipse.gyrex.features.dependencies.jersey.feature.group" version="1.0.0.v20130318-1750"/>
<unit id="org.eclipse.gyrex.features.dependencies.jersey.source.feature.group" version="1.0.0.v20130318-1750"/>
<unit id="org.eclipse.gyrex.features.dependencies.mongodb.feature.group" version="1.0.0.v20130625-1234"/>
<unit id="org.eclipse.gyrex.features.dependencies.mongodb.source.feature.group" version="1.0.0.v20130625-1234"/>
<unit id="org.eclipse.gyrex.features.dependencies.persistence.feature.group" version="1.2.0.v20130701-1318"/>
<unit id="org.eclipse.gyrex.features.dependencies.persistence.source.feature.group" version="1.2.0.v20130701-1318"/>
<unit id="org.eclipse.gyrex.features.dependencies.processing.feature.group" version="1.2.0.v20130701-1318"/>
<unit id="org.eclipse.gyrex.features.dependencies.processing.source.feature.group" version="1.2.0.v20130701-1318"/>
<unit id="org.eclipse.gyrex.features.dependencies.provisioning.feature.group" version="1.2.0.v20130709-0442"/>
<unit id="org.eclipse.gyrex.features.dependencies.provisioning.source.feature.group" version="1.2.0.v20130709-0442"/>
<unit id="org.eclipse.gyrex.features.dependencies.solr.feature.group" version="1.2.0.v20130816-1838"/>
<unit id="org.eclipse.gyrex.features.dependencies.solr.source.feature.group" version="1.2.0.v20130816-1838"/>
<unit id="org.eclipse.gyrex.features.dependencies.web.feature.group" version="1.2.0.v20130701-1318"/>
<unit id="org.eclipse.gyrex.features.dependencies.web.source.feature.group" version="1.2.0.v20130701-1318"/>
<repository location="http://download.eclipse.org/gyrex/1.2"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.wso2.carbon.cassandra.cluster.feature.group" version="4.2.1"/>
<unit id="org.wso2.carbon.cassandra.cluster.mgt.ui.feature.group" version="4.2.1"/>
<unit id="org.wso2.carbon.cassandra.mgt.feature.group" version="4.2.1"/>
<unit id="org.wso2.carbon.cassandra.mgt.ui.feature.group" version="4.2.1"/>
<unit id="org.wso2.carbon.cassandra.server.feature.group" version="4.2.1"/>
<unit id="org.wso2.carbon.cassandra.dataaccess.feature.group" version="4.2.1"/>
<unit id="org.wso2.ss.cassandra.nested.category.feature.jar" version="1.1.0"/>
<unit id="org.wso2.carbon.stratos.common.feature.group" version="2.2.1"/>
<unit id="org.wso2.carbon.cassandra.common.feature.group" version="4.2.1"/>
<unit id="org.wso2.carbon.cassandra.cluster.mgt.feature.group" version="4.2.1"/>
<unit id="org.wso2.carbon.cassandra.cluster.proxy.feature.group" version="4.2.1"/>
<unit id="org.wso2.carbon.transaction.manager.feature.group" version="4.2.1"/>
<unit id="org.wso2.ss.rssmanager.nested.category.feature.jar" version="1.1.0"/>
<unit id="org.wso2.carbon.rssmanager.feature.group" version="4.2.0"/>
<unit id="org.wso2.carbon.rssmanager.data.mgt.feature.group" version="4.2.0"/>
<unit id="org.wso2.carbon.rssmanager.server.feature.group" version="4.2.0"/>
<unit id="org.wso2.carbon.rssmanager.ui.feature.group" version="4.2.0"/>
<unit id="org.wso2.ss.hdfs.nested.category.feature.jar" version="1.1.0"/>
<unit id="org.wso2.carbon.hdfs.dataaccess.feature.group" version="4.2.0"/>
<unit id="org.wso2.carbon.hdfs.mgt.feature.group" version="4.2.0"/>
<unit id="org.wso2.carbon.hdfs.mgt.ui.feature.group" version="4.2.0"/>
<unit id="org.wso2.carbon.hdfs.namenode.feature.group" version="4.2.0"/>
<repository location="http://dist.wso2.org/p2/carbon/releases/turing/"/>
</location>
</locations>
<includeBundles>
<plugin id="org.junit"/>
<plugin id="javax.activation.source"/>
<plugin id="com.typesafe.akka.cluster.source"/>
<plugin id="org.eclipse.equinox.console" version="1.0.100.v20121001-124408"/>
<plugin id="javax.activation"/>
<plugin id="org.eclipse.core.contenttype.source"/>
<plugin id="org.slf4j.api.source" version="1.7.2.v20121108-1250"/>
<plugin id="javax.servlet" version="3.0.0.v201112011016"/>
<plugin id="org.eclipse.equinox.ds.source"/>
<plugin id="org.eclipse.core.jobs.source"/>
<plugin id="com.typesafe.akka.akka-sample-osgi-dining-hakkers.core"/>
<plugin id="org.slf4j.jcl" version="1.7.2.v20121108-1250"/>
<plugin id="javax.mail.glassfish"/>
<plugin id="org.junit4"/>
<plugin id="com.google.protobuf"/>
<plugin id="com.typesafe.akka.actor"/>
<plugin id="org.eclipse.equinox.registry" version="3.5.200.v20120522-1841"/>
<plugin id="xerial-core"/>
<plugin id="com.typesafe.akka.akka-sample-osgi-dining-hakkers.api"/>
<plugin id="ch.qos.logback.classic" version="1.0.7.v20121108-1250"/>
<plugin id="org.apache.felix.gogo.runtime.source" version="0.10.0.v201209301036"/>
<plugin id="org.apache.felix.gogo.shell.source"/>
<plugin id="org.eclipse.core.jobs" version="3.5.300.v20120912-155018"/>
<plugin id="org.eclipse.core.filesystem.win32.x86_64"/>
<plugin id="com.typesafe.akka.persistence.experimental.source"/>
<plugin id="antlr"/>
<plugin id="org.scala-lang.scala-library"/>
<plugin id="org.eclipse.osgi.services.source"/>
<plugin id="javax.transaction.source" version="1.1.1.v201105210645"/>
<plugin id="org.objectweb.asm.source" version="3.3.1.v201105211655"/>
<plugin id="org.eclipse.core.filesystem"/>
<plugin id="org.eclipse.core.commands.source"/>
<plugin id="xerial-core.source"/>
<plugin id="org.slf4j.jul" version="1.7.2.v20121108-1250"/>
<plugin id="com.typesafe.akka.remote"/>
<plugin id="plexus-classworlds"/>
<plugin id="org.eclipse.equinox.preferences.source"/>
<plugin id="org.apache.felix.gogo.command" version="0.10.0.v201209301215"/>
<plugin id="ch.qos.logback.slf4j.source" version="1.0.7.v20121108-1250"/>
<plugin id="javax.inject" version="1.0.0.v20091030"/>
<plugin id="javax.mail.glassfish.source"/>
<plugin id="org.eclipse.equinox.common" version="3.6.100.v20120522-1841"/>
<plugin id="org.fusesource.leveldbjni.leveldbjni-all"/>
<plugin id="ch.qos.logback.classic.source" version="1.0.7.v20121108-1250"/>
<plugin id="com.typesafe.akka.osgi.source"/>
<plugin id="com.typesafe.akka.akka-sample-osgi-dining-hakkers.command"/>
<plugin id="org.hamcrest.core"/>
<plugin id="org.eclipse.core.contenttype" version="3.4.200.v20120523-2004"/>
<plugin id="org.eclipse.core.runtime" version="3.8.0.v20120912-155025"/>
<plugin id="org.jboss.netty.source"/>
<plugin id="ch.qos.logback.core.source" version="1.0.7.v20121108-1250"/>
<plugin id="org.apache.felix.gogo.command.source" version="0.10.0.v201209301215"/>
<plugin id="org.slf4j.jul.source" version="1.7.2.v20121108-1250"/>
<plugin id="org.slf4j.api" version="1.7.2.v20121108-1250"/>
<plugin id="hadoop-core"/>
<plugin id="org.eclipse.equinox.util" version="1.0.400.v20120917-192807"/>
<plugin id="com.google.gson"/>
<plugin id="org.eclipse.equinox.preferences" version="3.5.1.v20121031-182809"/>
<plugin id="org.eclipse.core.expressions" version="3.4.401.v20120912-155018"/>
<plugin id="ch.qos.logback.slf4j.source" version="1.0.7.v20121108-1250"/>
<plugin id="com.typesafe.akka.slf4j.source"/>
<plugin id="org.fusesource.leveldbjni.leveldbjni-all.source"/>
<plugin id="org.jboss.netty" version="3.8.0.Final"/>
<plugin id="com.ibm.icu"/>
<plugin id="org.eclipse.equinox.app" version="1.3.100.v20120522-1841"/>
<plugin id="org.eclipse.core.expressions.source"/>
<plugin id="ch.qos.logback.classic.source" version="1.0.7.v20121108-1250"/>
<plugin id="org.eclipse.equinox.cm"/>
<plugin id="javax.inject.source" version="1.0.0.v20091030"/>
<plugin id="javax.persistence"/>
<plugin id="org.eclipse.equinox.app.source"/>
<plugin id="com.typesafe.config"/>
<plugin id="javax.servlet.source" version="3.0.0.v201112011016"/>
<plugin id="com.typesafe.akka.slf4j"/>
<plugin id="org.eclipse.osgi.services" version="3.3.100.v20120522-1822"/>
<plugin id="leveldb"/>
<plugin id="org.scala-lang.scala-reflect"/>
<plugin id="org.slf4j.api.source" version="1.7.2.v20121108-1250"/>
<plugin id="org.objectweb.asm" version="3.3.1.v201105211655"/>
<plugin id="org.apache.felix.gogo.runtime" version="0.10.0.v201209301036"/>
<plugin id="antlr-runtime"/>
<plugin id="org.eclipse.osgi.source"/>
<plugin id="org.xerial.snappy.snappy-java.source"/>
<plugin id="ch.qos.logback.core.source" version="1.0.7.v20121108-1250"/>
<plugin id="org.apache.felix.gogo.command.source" version="0.10.0.v201209301215"/>
<plugin id="org.apache.felix.gogo.runtime.source" version="0.10.0.v201209301036"/>
<plugin id="org.slf4j.jcl.source"/>
<plugin id="com.typesafe.akka.remote.source"/>
<plugin id="org.eclipse.equinox.util.source"/>
<plugin id="org.eclipse.equinox.common.source"/>
<plugin id="org.slf4j.log4j" version="1.7.2.v20121108-1250"/>
<plugin id="org.eclipse.osgi" version="3.8.1.v20120830-144521"/>
<plugin id="javax.persistence.source"/>
<plugin id="org.eclipse.equinox.ds" version="1.4.1.v20120926-201320"/>
<plugin id="com.typesafe.akka.cluster"/>
<plugin id="org.eclipse.equinox.registry.source"/>
<plugin id="snappy"/>
<plugin id="org.apache.felix.gogo.shell" version="0.10.0.v201211091412"/>
<plugin id="uncommons"/>
<plugin id="org.eclipse.core.resources"/>
<plugin id="org.eclipse.equinox.console.source"/>
<plugin id="com.typesafe.akka.persistence.experimental"/>
<plugin id="org.eclipse.core.commands" version="3.6.2.v20130123-162658"/>
<plugin id="com.typesafe.config.source"/>
<plugin id="ch.qos.logback.slf4j" version="1.0.7.v20121108-1250"/>
<plugin id="org.eclipse.core.runtime.compatibility.registry"/>
<plugin id="ch.qos.logback.core" version="1.0.7.v20121108-1250"/>
<plugin id="com.typesafe.akka.actor.source"/>
<plugin id="javax.servlet.source" version="3.0.0.v201112011016"/>
<plugin id="com.typesafe.akka.osgi"/>
<plugin id="snappy.source"/>
<plugin id="javax.transaction.source" version="1.1.1.v201105210645"/>
<plugin id="com.google.guava" version="13.0.1"/>
<plugin id="org.xerial.snappy.snappy-java"/>
<plugin id="javax.transaction" version="1.1.1.v201105210645"/>
<plugin id="plexus-classworlds.source"/>
<plugin id="osgi.cmpn"/>
<plugin id="com.google.protobuf.source"/>
<plugin id="org.slf4j.log4j.source"/>
<plugin id="org.objectweb.asm.source" version="3.3.1.v201105211655"/>
<plugin id="org.slf4j.jul.source" version="1.7.2.v20121108-1250"/>
<plugin id="leveldb.source"/>
<plugin id="org.eclipse.core.runtime.source"/>
<plugin id="javax.inject.source" version="1.0.0.v20091030"/>
</includeBundles>
</target>
